<body [ngClass]="{'bgcolorhl':ishighlight}">
  

<button>login</button> <br>
<button>signup</button>

<h2>ngh example</h2>

<button  *ngIf="data">sign in</button> <br>
<button *ngIf="!data">sign up</button>

<h2>ng for example</h2>
<h3>ex 1</h3>

<ul *ngFor="let i of numbers">
  <li>{{i}}</li>
</ul>

<h2>ng for example</h2>
<h3>ex 1</h3>

<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
  </tr>

  <tbody *ngFor="let std of students">
    <tr>
      <td>{{std.id}} </td>
      <td>{{std.name}} </td>
      <td>{{std.age}} </td>
    </tr>
  </tbody>
</table>


<div [ngSwitch]="color">

  <p *ngSwitchCase="'dark'">dark color</p>
  <p *ngSwitchCase="'light'">light</p>
  <p *ngSwitchdefault>default</p>

</div>
<h2>Attribute directives</h2>

<button (click)="highlighjtonoff()">welcome</button>

<div [ngStyle]="{'font-size':fontsize}">
  this is my text
</div>

<button (click)="increase()">
  Increase
</button>

<button (click)="decrease()">
  decrease
</button>

</body>